h1 {

  color:black;
  text-align: center;
  font-family: Lucida, sans-serif;
}

a:visited {
  color:black;
}

a {
  text-decoration: none;
}

ul {

  list-style-type:none;

}

div ul li {

  list-style-type:none;
  font-family: Lucida, sans-serif;
  font-weight: lighter;
  font-size: 14px;
}

li:hover {

  color: grey;

}

p {

  color:black;
  text-align: center;
  font-family: Lucida, sans-serif;
  font-weight: lighter;
}

div {

  height: 10px;
  padding: 5px;
  text-align: center;
  font-family: Lucida, sans-serif;
  font-size: 14px;
  font-weight: lighter;
}

#first, #second {

  height: 10px;
  padding: 5px;
  text-align: center;
  font-family: Lucida, sans-serif;
  font-size: 14px;
  font-weight: lighter;
}

.Nationality {

  height: 10px;
  padding: 5px;
  text-align: center;
  font-family: Lucida, sans-serif;
  font-size: 14px;
  font-weight: lighter;
  font-style: italic;
}

table {

  border: none;
  border-collapse: collapse;
  width: 50%;
}

th {
  text-align: left;
  border: none;
  font-family: Lucida, sans-serif;
  font-size: 14px;
  font-weight: lighter;
  padding: 3px;
  text-decoration: underline;
}

td {
  text-align: center;
  border: none;
  font-family: Lucida, sans-serif;
  font-size: 14px;
  font-weight: lighter;
  padding: 3px;
  font-style: ;
}

@media print {
  .screen-only {
    display:none;
  }
}
